/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');


h1 {
    font-family: 'Cookie', cursive;
    font-weight: normal;
    font-size: 71px;
    color: white;
    margin-bottom: 15px;
}

header{
    background-color: rgb(172, 208, 182);  
    text-align: center; 
    height: 70px;
}

#logo{
    padding: 15px;
}

body  {
  background-image: url("assets/04-BG.png");
  text-align: center;
  display: contents;
}

input#name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 400px;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 0px;
    padding-left: 12px;
}

input#email{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 400px;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 0px;
    padding-left: 15px;
}

textarea#message{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding-top: 7px;
    padding-left: 15px;
    resize: none;
}

input#botao{
    background-color: rgb(113, 163, 151); 
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    width: 415px;
    height: 55px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 0px;
    padding-left: 15px;
}